ODOO_DOMAIN=erp.tudominio.com
GATEWAY_DOMAIN=dgii.tudominio.com
TLS_EMAIL=admin@tudominio.com
GATEWAY_ADMIN_USER=piloto_admin
GATEWAY_ADMIN_PASSWORD_HASH=$2a$14$L1EeoVFkbUisT7cAG6Q5puCQ3iFm0OotIvSf8UMRMKmvX.8a/vNyS
POSTGRES_PASSWORD=cambia-esta-clave-larga
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=cambia-esta-clave-odoo
ODOO_MASTER_PASSWORD=cambia-esta-clave-maestra
