PORT=3000
PUBLIC_BASE_URL=https://dgii.tudominio.com
SOFTWARE_NAME=Piloto e-CF DGII
SOFTWARE_VERSION=1.0.0
BUYER_RNC=101010101
CERT_PATH=/app/storage/certificados/certificado.p12
CERT_PASSWORD=clave-del-p12-real
GENERATE_DEMO_CERT=false
DEMO_CERT_PATH=./storage/demo-certificate.p12
DEMO_CERT_PASSWORD=demo123
